<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_header.ejs') %>
<body>
  <%- include('partials/_navbar.ejs', {user_id: user_id}) %>

  <% if (user_id) { %>
    <div id="container">
      <h1> Smart-To-Do <i class="fa fa-plus"></i></h1>
      <h2>Catagories</h2>
      <p>Select catagories from drop-down list:</p>
      <form action="">
        <label for="Catagories">Choose catagories:</label>
        <select id="cat" name="category" onchange="this.form.submit()">
          <option>SELECT</option>
          <option value="1">To Watch</option>
          <option value="2">To Eat</option>
          <option value="4">To Buy</option>
          <option value="3">To Read</option>
          <option value="5">no-catagories</option>
        </select>
      </form>

      <input type="text" placeholder="Let's Add Something Amazing TO-Do!">
      <ul>
        <% for(const item of items ) { %>
          <li><span><i class="fa fa-trash"></i></span> <%=item.title%>  </li>
          <% } %>
      </ul>
    </div>
  <% } else { %>



    <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="error-template">
                  <h1>
                      Oops!</h1>
                  <h2>
                      Welcome to Smart-To-Do</h2>
                  <div class="error-details">
                      Sorry, you need to sign in!
                  </div>
                  <div class="error-actions">
                      <a href="/login" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-home"></span>
                          Sign In </a><a href="/login" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-envelope"></span> Contact Support </a>
                  </div>
              </div>
          </div>
      </div>
  </div>




   <% } %>

</body>

</html>
