//todo list main page css codes


body {
  font-family: sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0
}

h1 {
  background: #ff0000;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

.fa-plus {
  float: right
}

li {
  background: #fff;
  height: 40px;
  line-height: 40px;
  color: #666
}

li:nth-child(2n) {
  background: #f7f7f7
}

span {
  background: #f89393;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  color: rgb(255, 0, 0);
  width: 0;
  display: inline-block;
  transition: 0.2s linear;
  opacity: 0
}

li:hover span {
  width: 40px;
  opacity: 1.0
}

input {
  font-size: 18px;
  color: #b32b2b;
  background-color: #f7f7f7;
  width: 100%;
  padding: 13px 13px 13px 20px;
  box-sizing: border-box;
  border: 3px solid rgba(0, 0, 0, 0)
}

input:focus {
  background: rgba(22, 231, 214, 0.568);
  border: 3px solid #2980b9;
  outline: none
}

#container {
  width: 360px;
  margin: 100px auto;
  background: #f7f7f7;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1)
}

.completed {
  color: gray;
  text-decoration: line-through
}

img {
margin-top: 10px;
    float: right;
    margin-bottom: 10px;
    margin-right: 10px;
}


h2 {
    background: #ff0000;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}

p {
  background: #ff0000;
    color: white;
    margin: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
}
form {
 text-align: center;
}


body { background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAxMC8yOS8xMiKqq3kAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzVxteM2AAABHklEQVRIib2Vyw6EIAxFW5idr///Qx9sfG3pLEyJ3tAwi5EmBqRo7vHawiEEERHS6x7MTMxMVv6+z3tPMUYSkfTM/R0fEaG2bbMv+Gc4nZzn+dN4HAcREa3r+hi3bcuu68jLskhVIlW073tWaYlQ9+F9IpqmSfq+fwskhdO/AwmUTJXrOuaRQNeRkOd5lq7rXmS5InmERKoER/QMvUAPlZDHcZRhGN4CSeGY+aHMqgcks5RrHv/eeh455x5KrMq2yHQdibDO6ncG/KZWL7M8xDyS1/MIO0NJqdULLS81X6/X6aR0nqBSJcPeZnlZrzN477NKURn2Nus8sjzmEII0TfMiyxUuxphVWjpJkbx0btUnshRihVv70Bv8ItXq6Asoi/ZiCbU6YgAAAABJRU5ErkJggg==);}
.error-template {padding: 40px 15px;text-align: center;}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }
